* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*untuk navigasi


*/
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f1f1f1;
  color: #000ecb;
}

.container-hiro {
  background-image: url(../gambar/Desain\ tanpa\ judul.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  text-align: center;
  font-size: 20px;
  color: white;
}
/* navigasi geser atas */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid black;
}

nav ul li a:hover {
  color: white;
  border-bottom: 1px solid rgb(26, 121, 223);
}

div img {
  width: 500px;
}

nav ul li {
  margin: 0 15px;
}
.container-info-panel {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.info-panel {
  margin-top: 50px;
  text-align: center;
}
.judul-info-panel {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.info-panel p {
  font-size: 14px;
  color: black;
}
.info-panel .fas,
.fab {
  font-size: 40px;
  margin-bottom: 20px;
}
.container-info-panel.judul-info-panel {
  padding-bottom: 5px;
}
/*about*/
.container-how-it-work {
  background-color: #b5e1ff;
  margin-top: 50px;
}
.header h2 {
  padding-top: 50px;
  text-align: center;
}
.header hr {
  width: 20%;
  margin: auto;
  border: 2px solid #000ecb;
  margin-top: 5px;
}
.container-card-flax {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 40px;
}
.card-items {
  width: 400px;
  background-color: #000ecb;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0px 0px 20px -10px rgb(1, 1, 1);
  border-radius: 10px;
}
.card-items img {
  width: 100%;
  border-radius: 10px;
}
.card-items p {
  color: white;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
/*produk*/
.container-showcase {
  margin-top: 50px;
}
.showcase-flax {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  flex-wrap: wrap;
}
.showcase-item {
  width: 500px;
}
.showcase-item img {
  width: 100%;
}
.showcase-item p {
  margin-top: 30px;
  line-height: 25px;
}
/*work*/
.container-galeri {
  margin-top: 50px;
  background-color: rgb(214, 214, 214);
}
.container-galeri h2 {
  padding-top: 20px;
  text-align: center;
}
.container-galeri hr {
  width: 20%;
  margin: auto;
  border: 2px solid orangered;
  margin-top: 5px;
}
.Galeri-flax {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.galeri-item {
  width: 400px;
}
.galeri-item img {
  width: 100%;
  margin-top: 30px;
}
.galeri-item img:hover {
  transform: scale(1.1);
  transition: 1s;
}
/*galeri*/
.container-galeri2 {
  margin-top: 50px;
  background-color: #000ecb;
}
.container-galeri2 h2 {
  padding-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.container-galeri2 hr {
  width: 20%;
  margin: auto;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 5px;
}
.Galeri-flax2 {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.galeri-item2 {
  width: 400px;
}
.galeri-item2 img {
  width: 100%;
  margin-top: 30px;
}
.galeri-item2 img:hover {
  transform: scale(1.1);
  transition: 1s;
}
/*footer*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00bfff;
  padding: 15px 50px;
  border-top: 4px solid #00bfff; /* garis biru atas */
  border-bottom: 4px solid #00bfff; /* garis biru bawah */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #00bfff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffffff;
}

/* Sosial media icons */
.social-icons a {
  color: black;
  margin-left: 15px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #060606;
}

/* Footer */
footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
}
